body {
    background-color: rgb(99, 48, 14);
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: blanchedalmond; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto; 
    height: 200vh; 
    font-weight: 400;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    cursor: pointer;
}

.top-text, .bottom-text {
    font-size: 22px;
    transition: transform 2s ease-in-out;
}

.top-text {
    position: absolute;
    top: 11%;
}

.bottom-text {
    position: absolute;
    bottom: 11%;
}

  .wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    color: blanchedalmond;
    margin-bottom: 100px; 
  }



  .wrapper1 {
    position: relative;  
    width: 100%;
    height: 100%;
    color: blanchedalmond;
    margin-top: 60px; 
}




  .scroll-text{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    font-family: sans-serif;
    white-space: nowrap;
  }
  
  .scroll-text span.fl {
    position: relative;
    display: inline-block;
    font-size: 5rem;
  }

  p {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .clickable-image {
    width: 40px; 
    height: auto;
    position: absolute;
    top: -330px;
    right: -25px; 
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.clickable-image:hover {
    transform: scale(1.1); 
}
