body {
    background-color: rgb(99, 48, 14);
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.static-text {
    color: black;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.often-container {
    position: absolute;
    left: 27%; 
    top: 1%;
    display: flex;
    flex-direction: column;
    gap: 0px; 
}


.often-text {
    color: rgb(239, 229, 207);
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-transform: lowercase;
    line-height: 1; 
    margin: 0; 
    padding: 0; 
}

.extra-text {
    color: black;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    left: 39%; 
    top: 40%;
    transform: translateY(-50%);
    display: none; 
}

.wise-text {
    color: rgb(239, 229, 207);
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    right: 5%; 
    top: 50%;
    transform: translateY(-50%);
    display: none; 
}


